<div class="modal-header">
  <h4 class="modal-title">Rule: Category</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label for="category">Category </label>
  <select type="category" [(ngModel)]="cat">
    <option value="" selected="selected">Select category</option>
    <option value="diningOut">Dining Out</option>
    <option value="paycheck">Paycheck</option>
    <option value="cashWithdrawal">Cash Withdrawal</option>
    <option value="utility">Utility</option>
    <option value="entertainment">Entertainment</option>
    <option value="housing">Housing</option>
    <option value="creditCardPayment">Credit Card Payment</option>
    <option value="grocery">Grocery</option>
    <option value="nonRecurringIncome">Non-recurring Income</option>
    <option value="merchandise">Merchandise</option>
    <option value="travel">Travel</option>
    <option value="health">Health</option>
    <option value="education">Education</option>

  </select>
</div>
<div class="modal-footer">
  <label class="btn-standard" (click)="addRule(); activeModal.close('Close click');" ngbButtonLabel>
    Add Rule
 </label>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click'); goBack();">Go Back</button>
</div>
