.toolbar {
    height: 80px;
    background-color: rgba(249, 248, 246, 0.88);
    color: white;
}

.toolbar img {
    max-width: 250px;
    width: 100%;
    margin: 0 35px;
}

.nav-link {
    color: #77726D;
    display: block;
    padding: .5rem 1rem;
    font-family: "cera_promedium", Arial, sans-serif;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 25px;
}

.login {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

.user-ico {
    width: 20px;
    height: 20px;
}