<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a href="https://www.commercebank.com/">
      <img
        alt="Commerce Logo"
        src="assets/img/commerce-bank-logo.png"
      />
    </a>
    <nav class="nav-primary">
      <a routerLink="notifications">Notifications Dashboard</a>
      <a routerLink="transactions">Transactions</a>
    </nav>
    <a class="logout" routerLink="login" (click)="logout()"> {{ isUserLoggedIn() ? 'Logout' : 'Login' }}
        <img class="user-ico" src="/assets/img/person-fill.svg" alt="">
    </a>
</div>