.toolbar {
  height: 80px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: rgba(249, 248, 246, 0.88);
  color: white;
  font-weight: 600;
}

.toolbar img {
  max-width: 250px;
  width: 100%;
  margin: 0 35px;
}

.nav-primary a {
    color: #77726D;
    display: inline-block;
    font-family: "cera_promedium", Arial, sans-serif;
    padding-left: 60px;
    font-size: 18px;
    width: 30%;
}