body {
    background-color:#006747;
  }
  
  .container {
    display: flex;
    max-width:400px;
    margin: auto auto;
    padding: 20px;
    background-color:#fff;
    border-radius: 5px;
    align-self: center;
    height: 60vh;
  }

  .form-wrap{
    background-color: #fff;
    margin: auto;
  }

  .icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -55px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }

  .form-wrap h1{
    text-align:center;
  }

  .form-wrap .form-group {
      margin-top: 15px;
    }
  
    .form-wrap .form-group label {
      display: flex;
    }
  
    .form-wrap .form-group input {
      font-size: x-large;
      width: 100%;
      padding: auto;
      border: #ddd 1px solid;
      border-radius: 5px;
    }
  
    .form-wrap button {
  
      width: 100%;
      background: #49c1a2;
      text-align: center;
      display: block;
      padding: 10px;;
      margin-top: 20px;
      color:#fff;
      cursor: pointer;
    }
  .form-wrap button{
    width: 100%;
    background: #49c1a2;
    text-align: center;
    display: block;
    padding: 10px;;
    margin-top: 20px;
    color:#fff;
    cursor: pointer;
  }
  .form-wrap button:hover {
      background-color: #37a08e;
    }