<div class="modal-header">
  <h4 class="modal-title">Rule: Time</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label for="beginTime">Time </label>
  <input type="time" name="beginTime" id="beginTime">
  <label for="endTime">to </label>
  <input type="time" name="endTime" id="endTime">
</div>
<div class="modal-footer">
  <label class="btn-standard" (click)="addRule()" ngbButtonLabel>
    Add Rule
 </label>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click'); goBack();">Go Back</button>
</div>
